appdirs
appnope
bleach
cycler
decorator
docopt
entrypoints
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
matplotlib
mistune
mpmath
nbconvert
nbdime
nbformat
nbstripout
notebook
numpy
packaging
pandas
pandocfilters
patsy
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
pylint
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
requests
scikit-learn
scipy
simplegeneric
six
sklearn
statsmodels
sympy
terminado
testpath
thinkx
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
yarg
